body, h1, h2, p, ul, li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #B8D7E6FF;
    color: #0C0E0AFF;

    font-family: sans-serif;
    line-height: 1.6;
}

header {
    background-color: #9BC396FF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Remove default list points */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

/* Make Navigation Menu as Rows */
header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #0C0E0AFF;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #5B8E15FF;
    color: white;
}

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

#projects .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
}

footer {
    background-color: #0C0E0AFF;
    color: #B8D7E6FF;
    text-align: center;
    padding: 20px;
}